/input/**
/output/**
/dataset/train/labels.cache
/dataset/test/labels.cache
/dataset/valid/labels.cache
/dataset/train/images/*.jpg
/dataset/test/images/*.jpg
/dataset/valid/images/*.jpg
/dataset/train/labels/**
/dataset/train/preview/**
/dataset/test/labels/**
/dataset/valid/labels/**
/dataset/valid/preview/**
/runs/**
/target/
/scripts/coco/input/**
/scripts/coco/output/**
/scripts/augmented/input/**
/scripts/augmented/output/**
/scripts/gen_dataset/output/**
