/input/**
/output/**
/dataset/train/labels.cache
/dataset/test/labels.cache
/dataset/valid/labels.cache
/dataset/train/images/*.jpg
/dataset/test/images/*.jpg
/dataset/valid/images/*.jpg
/dataset/train/labels/**
/dataset/test/labels/**
/dataset/valid/labels/**
/runs/**
/target/